.header {
  background-color: var(--clr-secondary);
  height: 72px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: var(--font-primary);
  font-size: 20px;
  font-weight: 600;
}
.user_image > img {
  width: 70px;
  height: 50px;
  border-radius: 30%;
  object-fit: contain;
  margin-left: 20px;
}
